<%= stylesheet_link_tag "categories" %>

<div class='categories'>
	<main>
		<h2>CATEGORIES</h2>
		<%= link_to new_category_path do %>
			<button class='add-btn'>
				<i class="fas fa-folder-plus"></i>
				<p>Add Category</p>
			</button>
		<% end %>
		<div class='list'>
			<% @categories.each do |category| %>
				<div class="category">
					<div class='category__img' style="background-image: url('<%= category.img %>');"></div>
					<div class='category__name'>
						<%= category.name %>
						<div class='category__links'>
							<%= link_to category, class: 'link' do %>
								<i class="fas fa-external-link-alt" style="margin: 0 10px 0 0; color: white"></i>
								<p>Enter</p>
							<% end %>
							<%= link_to category, data: { confirm: 'Are you sure?' }, method: :delete, class: 'link delete' do %>
								<i class="fas fa-folder-minus" style="margin: 0 10px 0 0; color: white; font-size: 18px"></i>
								<p>Delete</p>
							<% end %>
						</div>
					</div>	
				</div>
			<% end %>
		</div>
	</main>
	<%= render 'shared/aside' %>
</div>