<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	 <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  </head>

  <body>

	<% if flash[:notice] %>
		<div class="notification is-success global-notification">
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="notification is-danger global-notification">
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>
	<nav class='navbar'>
		<h1 class='navbar__brand'>VLOG</h1>
		<div class="navbar__links">
			<%= link_to 'HOME', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'CATEGORIES', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'ABOUT US', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'CREATE ACCOUNT', root_path, :class => 'navbar__links__link' %>
			<%= link_to 'LOGIN', root_path, :class => 'navbar__links__link' %>
		</div>
	</nav>
	<div class="navbar-burger burger" data-target="navbar">
		
	

	<div class='container'>
		<%= yield %>
	</div>
  </body>
</html>
